CursorFinderClient/Connected Services/CursorFinderService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CursorFinder.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CursorFinder.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="MouseActionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Shift" />
      <xs:enumeration value="LeftButtonClick" />
      <xs:enumeration value="RightButtonClick" />
      <xs:enumeration value="MiddleButtonClick" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MouseActionType" nillable="true" type="tns:MouseActionType" />
  <xs:complexType name="ArrayOfCursorPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CursorPosition" nillable="true" type="tns:CursorPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCursorPosition" nillable="true" type="tns:ArrayOfCursorPosition" />
  <xs:complexType name="CursorPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionType" type="tns:MouseActionType" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="XPos" type="xs:int" />
      <xs:element minOccurs="0" name="YPos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CursorPosition" nillable="true" type="tns:CursorPosition" />
</xs:schema>